
@model MsCoreOne.FrontMvc.Models.ProductVm
@{
    ViewData["Title"] = "Product detail";
}
    <div class="container">
        <div class="card card-product-detail">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="@ViewData["BackendUrl"]@Model.ThumbnailImageUrl" /></div>
                            <div class="tab-pane" id="pic-2"><img src="@ViewData["BackendUrl"]@Model.ThumbnailImageUrl" /></div>
                            <div class="tab-pane" id="pic-3"><img src="@ViewData["BackendUrl"]@Model.ThumbnailImageUrl" /></div>
                        </div>
                        <ul class="preview-thumbnail nav nav-tabs">
                            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="@ViewData["BackendUrl"]@Model.ThumbnailImageUrl" /></a></li>
                            <li><a data-target="#pic-2" data-toggle="tab"><img src="@ViewData["BackendUrl"]@Model.ThumbnailImageUrl" /></a></li>
                            <li><a data-target="#pic-3" data-toggle="tab"><img src="@ViewData["BackendUrl"]@Model.ThumbnailImageUrl" /></a></li>
                        </ul>

                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">@Model.Name</h3>
                        <div class="rating">
                            <vc:star rating="@Model.Rating"></vc:star>
                        </div>
                        <p class="product-description">@Model.Description</p>
                        <h4 class="price">current price: <span>$@Model.Price</span></h4>
                        <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                        <h5 class="sizes">
                            sizes:
                            <span class="size" data-toggle="tooltip" title="small">s</span>
                            <span class="size" data-toggle="tooltip" title="medium">m</span>
                            <span class="size" data-toggle="tooltip" title="large">l</span>
                            <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
                        </h5>
                        <h5 class="colors">
                            colors:
                            <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
                            <span class="color green"></span>
                            <span class="color blue"></span>
                        </h5>
                        <div class="action">
                            <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                            <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

